*{
    box-sizing: border-box;
}

.cotiza{
    background-color: #6BAC40;
    padding: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
}

body{
    background-color: #ffffff;
    color: #3d414e;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

li{
    list-style: none;
    margin-left: 0px;
}

.logo img{
    display: block;
    margin: 0 auto;
    width: 300px;
}
/* 
.header{
    width: 1496px;
    position: relative;
    left: -4488px;
    top: 0px;
    z-index: 1000;
    opacity: 0;
} */

.logo{
    max-width: 100%;
}

.automobile-banner-layer img{
    display:block;
    width: 100%;
}

.blue-transparent {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100%;
    height: 81%;
    background-color: rgba(44,46,59,0.6);
}

.automobile-banner-caption{
    height: auto;
    position: absolute;
    left: 0px;
    top: 120px;
    width: 100%;
    bottom: 50%;
    margin: 0px 0 120;
}

.automobile-banner-text{
    padding-top: 94px;
    position: relative;
}

.automobile-banner-text span{
    font-size: 40px;
    line-height: 1.3;
    margin: 0 0 1px;
    text-transform: uppercase;
    display: block;
    color: #ffffff;
}

.automobile-banner-text h1{
    font-size: 40px;
    margin: 0 0 57px;
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: uppercase;
    z-index: 1;
}

.automobile-banner-text h1::before{
    background-color: #6BAC40;
    position: absolute;
    content: ' ';
    width: 320px;
    height: 3px;
    top: auto;
    bottom: -4px;
    right: 0px;
}

.automobile-banner-text h1::after{
    background-color: #6BAC40;
    position: absolute;
    content: ' ';
    width: 199px;
    height: 2px;
    top: auto;
    bottom: -8px;
    right: 0px;

}

.automobile-banner-text ul{
    padding-inline-start: 0px;
    float: left;
    width: 100%;
}

.automobile-banner-text ul li{
    list-style: none;
    color: #ffffff;
    font-size: 18px;
    margin: 0 0 13px;
    float: left;
    width: 100%;
}

.automobile-banner-text i{
    color: #6BAC40;
    margin-right: 10px;
}

.automobile-banner-tabs{
    float: left;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    top: 25px;
}

.automobile-banner-tabs .nav-tabs{
    float: left;
    width: 100%;
    border-radius: 0px;
    border: none;
    margin: 0px 0px -1px;
    padding-inline-start: 0px;
}

.automobile-banner-tabs .nav-tabs li{
    list-style: none;
    line-height: 1;
    width: 50%;
    text-align: center;
    position: relative;
    float: left;
    margin-left: -1px;
}

.automobile-banner-tabs .nav-tabs li a{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    position: relative;
    border: none;
    letter-spacing: 0;
    color: #1e5e2b;
    border-radius: 0 5px 0 0;
    margin: 0;
    background-color: transparent;
    font-weight: bold;
    padding: 18px 23px 18px 21px;
    text-transform: uppercase;
}

.automobile-banner-tabs .nav-tabs > li.active > a{
    background-color: #6BAC40;
    color: #ffffff;
    font-size: 18px;
    border-radius: 0px;
    padding: 19px 23px 19px 21px;
}

.automobile-banner-tabs .tab-content{
    float: left;
    width: 100%;
    padding: 20px 30px 7px;
}

/*banner form*/
.automobile-banner-form,.automobile-banner-form form,.automobile-banner-select {
    float: left;
    width: 100%;
}
.automobile-banner-form form > ul { margin: 0px -22px; padding-inline-start: 0;}
.automobile-banner-form form > ul > li {
    float: left;
    list-style: none;
    width: 50%;
    padding: 0px 22px;
    margin: 0px 0px 15px;
}
.automobile-banner-form form > ul > li.banner-full-form { width: 100%;}
.automobile-banner-select { position: relative;}
.automobile-banner-select select {
    height: 38px;
    font-size: 14px;
    color: #666;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 0px #ebebeb;
    width: 100%;
}

.automobile-banner-select select option{
    width: 100%;
}

.automobile-banner-select:after {
    /* content: "\f0d7"; */
    font-family: FontAwesome;
    font-size: 14px;
    color: #b5a6a6;
    right: 0px;
    bottom: 0px;
    text-align: center;
    position: absolute;
    /* background-color: #f0f0f0; */
    width: 15%;
    padding: 7px 2px 0 0;
    height: 100%;
    border-radius: 5px;
}
.automobile-banner-form label {
    margin: 0px 0px 12px;
    line-height: 1;
    font-size: 15px;
    color: #1E5E2B;
}
.automobile-banner-form form > ul li > ul { margin: 0px -8px;}
.automobile-banner-form form > ul li > ul li {
    list-style: none;
    float: left;
    width: 50%;
    padding: 0px 8px;
}
.automobile-banner-form form ul li input[type="text"] {
    float: left;
    width: 100%;
    border-radius: 5px;
    height: 38px;
    box-shadow: 0px 3px 0px #ebebeb;
    padding-left: 17px;
}
.automobile-banner-form form ul li input[type="date"] {
    float: left;
    width: 100%;
    border-radius: 5px;
    height: 38px;
    box-shadow: 0px 3px 0px #ebebeb;
    padding-left: 17px;
}
.automobile-banner-form form ul li input[type="submit"] {
    float: left;
    border: none;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 14px 33px 15px 50px;
}
.automobile-banner-form form ul li input[type="submit"]:hover { background-color: #1E5E2B;}
.automobile-banner-form form ul li label.banner-submit {
    position: relative;
    float: left;
    margin: 0px;
}
.automobile-banner-form form ul li label.banner-submit i {
    position: absolute;
    left: 27px;
    top: 15px;
    font-size: 12px;
    color: #ffffff;
}

.automobile-banner-select{
    height: 38px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: none;
    /* padding-left: 17px; */
    border-radius: 5px;
    box-shadow: 0px 3px 0px #ebebeb;
}

.automobile-banner-select{
    cursor: pointer;
}

.banner-submit input{
    background: #6BAC40;
}
.banner-check {
    width: 64%;
    padding: 30px 0px 0px;
}
.banner-check .automobile-check.widget-check label:before {
    top: 2px;
    width: 11px;
    height: 11px;
}
.banner-check .automobile-check.widget-check label {
    padding-left: 18px;
    margin: 0px;
}
.banner-check .automobile-check {
    width: auto;
    margin: 0px 15px 0px 0px;
}
.banner-check .automobile-check:last-child { margin: 0px;}
.banner-check .automobile-check.widget-check.widget-true input[type="checkbox"]:checked + label { color: #1E5E2B;}
.banner-check .automobile-check.widget-check.widget-true input[type="checkbox"]:checked + label:before { font-size: 8px;}


.body-content{
    padding-top: 50px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px 0px 15px;
}

.body-content h2{
    margin: 0 0 28px;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1;
    letter-spacing: 0px;
    color: #3d414e;
}

.body-content h2 span{
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.body-content h2 span::before{
    background-color: #6BAC40;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 3px;
    right: 0px;
    bottom: -8px;
}

.body-content h2 span::after{
    background-color: #6BAC40;
    position: absolute;
    content: ' ';
    width: 107px;
    height: 2px;
    right: 0px;
    bottom: -12px;
}

.automobile-about-services-list ul li{
    margin: 13px 0px 40px;
    list-style: none;
}

.automobile-about-services-list i{
    color: #6BAC40;
    float: left;
    width: 116px;
    height: 116px;
    border: 2px solid #ececec;
    text-align: center;
    font-size: 40px;
    padding: 40px 0 0;
    border-radius: 5px;
    position: relative;
}

.automobile-about-services-text{
    padding: 10px 0 0 142px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #f2f2f2;
    border: none;
    color: #666;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 20px;
    outline: none;
    padding: 4px 6px;
    vertical-align: middle;
    box-shadow: none;
}

/* Footer */
.automobile-footer-widget{
    margin-top: 30px;
    padding: 5px 0;
    float: left;
    width: 100%;
    position: relative;
    background-color: #31313d;
}

.automobile-footer-widget span{
    color: white;
}

/* Footer */
.automobile-footer-slider,.automobile-footer-one {
    float: left;
    width: 100%;
}
/* Footer Slider */
.automobile-footer-slider figure,
.automobile-footer-slider figure img {
    float: left;
    width: 100%;
}
.automobile-footer-slider               { padding: 0px 6px; }
.automobile-footer-slider figure        { margin: 0px; }
.automobile-footer-slider figure figcaption {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.80);
    text-align: right;
    padding: 28px 28px 0px 0px;
    opacity: 0;
}
.automobile-footer-slider figure:hover figcaption { opacity: 1; }
.automobile-footer-slider figure h5 {
    color: #ffffff;
    margin-bottom: 0px;
}
.automobile-footer-slider figcaption a {
    text-transform: uppercase;
    font-size: 14px;
}
.automobile-footer-slider-layer {
    float: left;
    /* padding: 9px 6px; */
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

@media(max-width: 448px){
    .automobile-banner-layer img{
        display: none;
    }

    .automobile-about-services-list{
        text-align: center;
    }

    .automobile-about-services-list ul{
        padding-inline-start: 0;
    }

    .automobile-about-services-list ul li{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0px;
    }

    .automobile-about-services-list i{
        display: block;
        margin-bottom: 10px;
    }
    .blue-transparent{
        height: 88%;
    }
    .ssn{
        display: flex;
        justify-content: center;
    }

    .automobile-copyright{
        text-align: center;
    }

    .row{
        margin-left: 0;
        margin-right: 0;
    }

    .blue-transparent{
        height: 102%;
    }
}



@media(max-width: 768px){
    .automobile-banner-caption{
        position: relative;
        left: auto;
        top: auto;
        margin: 0 0 30px;
    }

    .automobile-banner-layer img{
        display: none;
    }

    .blue-transparent{
        height: 51%;
    }
}

@media(width: 375px){
    .blue-transparent{
        height: 102%;
    }
}

@media(width: 375px) and (height:667px){
    .blue-transparent{
        height: 123%;
    }
}

@media(width: 360px){
    .blue-transparent{
        height: 129%;
    }   

}

@media(width: 411px){
    .blue-transparent{
        height: 116%;
    }

}

@media(width: 414px){
    .blue-transparent{
        height: 115%;
    }

}

@media(width: 320px){
    .blue-transparent{
        height: 145%;
    }

}

@media (width: 411px) and (height: 823px){
    .blue-transparent{
        height: 100%;
    }

    .automobile-banner-caption{
        height: 100vh;
    }
}

@media(width:1024px){
    .blue-transparent{
        height: 39%;
    }

    .automobile-banner-layer img{
        visibility: hidden;
    }

    .body{
        position: relative;
        top:140px;
    }

    .automobile-footer-one{
        position: relative;
        top:100px;
    }

    .automobile-banner-caption{
        height: 39vh;
    }
}

@media(width:1024px){
    .blue-transparent{
        height: 39%;
    }

    .automobile-banner-layer img{
        visibility: hidden;
    }

    .body{
        position: relative;
        top:140px;
    }

    .automobile-footer-one{
        position: relative;
        top:100px;
    }

    .automobile-banner-layer{
        height: 39vh;
    }
}
